@model JonDJones.com.Core.ViewModel.Blocks.BlogCategoryViewModel


<div class="well">
    <h4>
        @Model.CurrentBlock.WidgetTitle
    </h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">

                @foreach(var cat in Model.Categories)
                    { 
                    <li>
                        <a href="@cat.Url">
                            @cat.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>