<?xml version="1.0" encoding="utf-8" ?>
<module>
  <assemblies>
    <add assembly="JonDJones.Com" />
  </assemblies>
 
  <dojoModules>
    <add name="jondjones" path="Scripts" />
  </dojoModules>

  <clientModule initializer="jondjones/initialize">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>