@model JonDJones.Com.Core.ViewModel.Pages.StartPageViewModel


<header class="intro-header" style="background-image: url('/ClientResources/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>
                        @Model.CurrentPage.MainTitle
                    </h1>
                    <hr class="small">
                    <span class="subheading">
                        @Model.CurrentPage.MainDescription
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            @Html.PropertyFor(x => x.CurrentPage.LeftContentArea)

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
             @Html.PropertyFor(x => x.CurrentPage.RightContentArea)

        </div>
    </div>
</div>