
@model JonDJones.Com.Core.Interfaces.IPageViewModel<JonDJones.Com.Core.Pages.Base.GlobalBasePage>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    @if(Model.Layout.FooterProperties.DisplayTwiiterIcon)
                    { 
                        <li>
                            <a href="@Model.Layout.FooterProperties.Current.TwitterUrl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    }
                    @if(Model.Layout.FooterProperties.DisplayFacebookIcon)
                    {
                        <li>
                            <a href="@Model.Layout.FooterProperties.Current.FacebookUrl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    }
                    @if (Model.Layout.FooterProperties.DisplayGithubIcon)
                    { 
                        <li>
                            <a href="@Model.Layout.FooterProperties.Current.GitHubUrl">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    }
                </ul>
                <p class="copyright text-muted">
                    @Model.Layout.FooterProperties.Current.CopyRightNotice
                </p>
            </div>
        </div>
    </div>
</footer>