@model JonDJones.Com.Core.ViewModel.Pages.BlogHomePageViewModel


<header class="intro-header" style="background-image: url('/ClientResources/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>
                        @Model.CurrentPage.MainTitle
                    </h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                @Model.CurrentPage.MainTitle
            </h1>

            @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
           
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            @Html.PropertyFor(x => x.CurrentPage.Sidebar,
            new { Tag = JonDJones.com.Core.Resources.ContentAreaTags.FullWidth })

        </div>

    </div>
    <!-- /.row -->

    <hr>

